@font-face {
    font-family: 'Work Sans';
    src: url("file:///home/chronos/u-1dd9466982ec90fd6c0d8d33ae885410d9fa6bdf/MyFiles/Downloads/WorkPres/fonts/WorkSans-Blod.ttf")
    format('ttf');
    src: url("file:///home/chronos/u-1dd9466982ec90fd6c0d8d33ae885410d9fa6bdf/MyFiles/Downloads/WorkPres/fonts/WorkSans-ExtraBlod.ttf")
    format('ttf');
    src: url("file:///home/chronos/u-1dd9466982ec90fd6c0d8d33ae885410d9fa6bdf/MyFiles/Downloads/WorkPres/fonts/WorkSans-ExtraLight.ttf")
    format('ttf');
    src: url("file:///home/chronos/u-1dd9466982ec90fd6c0d8d33ae885410d9fa6bdf/MyFiles/Downloads/WorkPres/fonts/WorkSans-Light.ttf")
    format('ttf');
    src: url("file:///home/chronos/u-1dd9466982ec90fd6c0d8d33ae885410d9fa6bdf/MyFiles/Downloads/WorkPres/fonts/WorkSans-Medium.ttf")
    format('ttf');
    src: url("file:///home/chronos/u-1dd9466982ec90fd6c0d8d33ae885410d9fa6bdf/MyFiles/Downloads/WorkPres/fonts/WorkSans-SemiBlod.ttf")
    format('ttf');
}